{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Élève</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/css/ajout.css' %}">
</head>

<body>
    {% include 'dashboard/navbar.html' with active_tab='ajout_eleve' %}

    <!-- Formulaire -->
    <div class="form-card">
        <h3>Ajouter un Élève</h3>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <!-- Nom -->
            <div class="mb-3">
                <label for="id_nom" class="form-label">Nom</label>
                {{ form.nom }}
            </div>

            <div class="mb-3">
                <label for="id_prenoms" class="form-label">Prénoms</label>
                {{ form.prenoms }}
            </div>

            <!-- Genre -->
            <div class="mb-3">
                <label for="id_genre" class="form-label">Genre</label>
                {{ form.genre }}
            </div>

            <div class="mb-3">
                <label for="id_mention" class="form-label">Mention</label>
                {{ form.mention }}
            </div>

            <!-- Niveau -->
            <div class="mb-3">
                <label for="id_niveau" class="form-label">Niveau</label>
                {{ form.niveau }}
            </div>

            <!-- Photo -->
            <div class="mb-3">
                <label for="id_photo" class="form-label">Photo</label>
                {{ form.photo }}
                {{ form.photo.errors }}
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="mb-3">
                <label for="id_password" class="form-label">Mot de passe</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>


            <!-- Role -->
            <div class="mb-3">
                <label for="id_role" class="form-label">Role</label>
                <select name="role" id="id_role" class="form-select">
                    <option value="ELEVE" selected>Élève</option>
                    <option value="DELEGATE">Délégué</option>
                    <option value="SUPPLEANT">Suppléant</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script >
        const MENTION_NIVEAUX = {
            'INFORMATIQUE': ['L1','L2','L3'],
            'ENERGIE RENOUVELABLE': ['L1','L2','L3'],
            'INFO-COM': ['L3'],
            'ECONOMIE-GESTION': ['L3'],
            'RESSOURCES MINERALES': ['L3'],
            'PACES': ['L1'],
            'ANESTHESIE': ['L2','L3'],
            'TECH-BIO': ['L2','L3'],
        };

        const mentionSelect = document.getElementById("id_mention");
        const niveauSelect = document.getElementById("id_niveau");

        function updateNiveaux() {
            const mention = mentionSelect.value;
            const niveauxAutorises = MENTION_NIVEAUX[mention] || [];

            // vide les options
            niveauSelect.innerHTML = '';

            // ajoute les options autorisées
            niveauxAutorises.forEach(niveau => {
                const option = document.createElement('option');
                option.value = niveau;
                option.textContent = niveau;
                niveauSelect.appendChild(option);
            });
        }

        // déclenche au changement
        mentionSelect.addEventListener('change', updateNiveaux);

        // initialise au chargement
        updateNiveaux();
    </script>
</body>
