{% extends "base.html" %}
{% block title %}Liste des matières{% endblock %}

{% block content %}

<style>
    .border-dashed {
        border: 2px dashed #0d6efd;
    }

    .add-card {
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }

    .add-card:hover {
        background-color: #f8f9fa;
        transform: scale(1.03);
    }

    .matiere-title {
        font-size: 1.5rem;
        color: #0d6efd;
        font-weight: bold; 
    }
</style>


<form method="get" class="row g-3 mb-4">

<h3 class="mb-4">Liste des matières</h3>
    <div class="col-md-3">
        <select name="id_niveau" class="form-select">
            <option value="">-- Niveau --</option>
            {% for n in niveau %}
                <option value="{{ n.0 }}">{{ n.1 }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-3">
        <select name="id_mention" class="form-select" required>
                <option value="">-- Choisir une mention --</option>
                {% for m in mentions %}
                    <option value="{{ m.0 }}">{{ m.1 }}</option>
                {% endfor %}
            </select>
    </div>


    <div class="col-md-3">
            <select name="semestre" class="form-select" required>
                <option value="">-- Choisir un semestre --</option>
                {% for code, libelle in semestres %}
                    <option value="{{ code }}">
                        {{ libelle }}
                    </option>
                {% endfor %}
            </select>
    </div>

    <div class="col-md-3 d-flex gap-2">
        <button class="btn btn-primary flex-grow-1">Filtrer</button>
        <a href="{% url 'liste_matieres' %}" class="btn btn-outline-secondary flex-grow-1">Reset</a>
    </div>

</form>

<p class="text-muted mb-3">
    {{ matieres|length }} matière{{ matieres|length|pluralize }} trouvée{{ matieres|length|pluralize }}
</p>

<div class="row g-4">
    <div class="col-md-4">
        <a href="{% url 'ajout_matieres' %}" class="text-decoration-none">
            <div class="card h-100 shadow-sm border-dashed add-card">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">

                    <div class="display-1 fw-bold text-primary">+</div>

                    <h5 class="mt-2 text-primary">
                        Ajouter matière
                    </h5>

                </div>
            </div>
        </a>
    </div>


    {% for m in matieres %}
        <div class="col-md-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title matiere-title">{{ m.matiere }}</h5>
                    <p class="mb-1"><strong>Mention :</strong> {{ m.mention }}</p>
                    <p class="mb-1"><strong>Semestre :</strong> {{ m.semestre }}</p>
                    <p><strong>Année :</strong> {{ m.annee }}</p>
                    <p><strong>Nom :</strong> {{ m.nom }}</p>
                </div>
            </div>
        </div>
    {% empty %}
        <p class="text-center text-muted fs-5 mt-5">
            Aucune matière trouvée.
        </p>
    {% endfor %}

</div>

{% endblock %}